* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 600px;
    font-family: 'Microsoft YaHei';
    letter-spacing: 2px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 30px;
    background-color: #d6e9f0;
}

.head-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.container {
    width: 880px;
    height: 636px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

.left-banner {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-167px);
}

.left-banner li {
    list-style: none;
    margin-top: -10px;
    transition: all 1s;
    transform: translateX(-165px);
}

.left-banner li:hover {
    transform: translateX(0);
}

.header-title {
    height: 55px;
    margin-left: 12px;
    margin-top: 20px;
}

.top-banner {
    margin-left: 55px;
}

.select-bar {
    width: 750px;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
}

.select-bar li {
    float: left;
    list-style: none;
    margin-left: 26px;
}

.pages-introduce {
    width: 100%;
    height: 1540px;
}

.page-introduce {
    width: 880px;
    height: 1450px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.introduce-box {
    width: 751px;
    height: 560px;
    margin: 0 auto;
    padding-top: 40px;
}

.introduce {
    width: 310px;
    height: 100%;
    float: left;
}

.empty-box {
    width: 40px;
    height: 100%;
    float: left;
}

.photo-box {
    width: 400px;
    height: 100%;
    float: left;
}

.comunity-name {
    font-size: 30px;
    color: #b31e23;
    font-weight: 400;
}

.comunity-numbers {
    height: 85px;
}

.department-tag {
    margin: 0 auto;
}

.learning-community {
    margin-top: 23px;
}

.oral-community {
    margin-top: 50px;
}

.external-community {
    margin-top: 26px;
}

.publicity-community {
    margin-top: 15px;
}

.scheme-community {
    margin-top: 45px;
}

.writing-community {
    margin-top: 80px;
}

.chairman-community {
    margin-top: 70px;
}

.eva-community {
    letter-spacing: 0px;
}

.eva-introduce {
    margin-top: 25px;
}

.talking {
    width: 780px;
    height: 760px;
    margin: 0 auto;
    margin-top: 50px;
}

.learning-left-box {
    width: 432px;
    height: 515px;
    float: left;
}

.learning-right-box {
    width: 300px;
    padding-top: 255px;
    float: left;
    margin-left: 45px;
    color: #1f9032;
    font-size: 21px;
}

.learning-bottom-box {
    width: 780px;
    clear: both;
    padding-top: 15px;
}

.learning-bottom-box i {
    float: right;
}

.we-are-efa {
    position: absolute;
    right: 0;
    bottom: 0;
}